.map-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 200px repeat(5, 1fr); }

.map {
  background: mediumaquamarine;
  grid-row: span 2/5;
  display: grid;
  grid-template-columns: 200px repeat(5, 1fr);
  grid-auto-flow: column;
}

.map-items {
  grid-column: span 1/3; }
